<h1>New Task</h1>

<%= form_for @task do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div><%= f.label :date %> <%= f.text_field :date, :value => @date %></div>
  <div>
    <%= f.check_box :completed %>
    <%= f.text_field :description %>
  </div>
  <div><%= f.submit "Submit" %></div>
<% end %>
